.wave-background {
    top: 400px;
}

.top-main-img::after {
    height: 1000px;
    top: 565px;
}

.top-main-txt {
    min-width: 300px;
}

.txt-img-flex {
    margin-top: 40px;
}

.top-main .page-nav-list p {
    text-align: left;
    margin: 0px;
}

.about-bott-img img {
    max-width: 80%;
    margin: 20px 0 50px 0;
}

@media (min-width: 1000px) {
    .top-main-img::after {
        height: 950px;
    }

    .main-div .top-main {
        margin-bottom: 100px;
    }

    .main-div .about-learning-ways-txt {
        text-align: left;
    }
}