.wave-background {
    top: 400px;
}

.top-main-img::after {
    height: 800px;
    top: 570px;
}

.top-main-txt {
    min-width: 300px;
}

.txt-img-flex {
    margin-top: 40px;
}

.top-main .page-nav-list p {
    text-align: left;
    margin: 0px;
}

.about-bott-img img {
    max-width: 80%;
    min-width: none;
    margin: 20px 0;
}