.wave-background {
    top: 390px;
}

.top-main-img::after {
    height: 1850px;
    top: 560px;
}

label {
    font-size: 14px;
}

.donation-centre {
    text-align: center;
    display: inline-block;
}

.donation-form .form-grid {
    display: grid;
    text-align: left;
}

.donation-form .form-grid h2,h3 {
    text-align: center;
}

.donation-form .form-grid input {
    max-width: 280px;
    margin-bottom: 5px;
}

.donation-form .form-grid > * {
    margin: 5px 0 0 5px;
}

.donation-form .form-grid h3 {
    margin-top: 20px;
}

.donation-form {
    background: lightgray;
    width: 320px;
    height: 720px;
}

.submit-form {
    padding: 10px 0 15px 0;
    text-align: center;
}

.submit-form > * {
    height: 30px;
}

/* After donation page */
.after-donation-main .top-main-img::after {
    height: 2150px;
}

.after-donation-main h3 {
    margin-top: 0;
}

.after-donation-main h2 {
    text-transform: uppercase;
}

@media (min-width: 1000px) {
    .top-main-img::after {
        height: 1100px;
    }

    .after-donation-main .top-main-img::after {
        height: 1050px;
    } 

    .donation-centre {
        display: grid;
        justify-content: center;
        margin-bottom: 50px;
    }

    .flex-media-top-marg {
        margin-top: 0;
    }

    .flex-right-content h2 {
        text-align: left;
    }
}
