.wave-background {
    top: 450px;
}

.top-main-img::after {
    height: 1650px;
    top: 620px;
}

.event-spec-info {
    display: flex;
    margin-left: 10px;
}

.plan-trip-butt {
    padding: 10px 0 15px 0;
}

.event-spec-background {
    background: #312859;
    display: inline-block;
    width: 280px;
}

.event-spec-info-txt-space {
    margin-left: 10px;
}

.spec-info-header-marg-small  {
    margin-top: 50px;
}

.capitalize {
    text-transform: uppercase;
}

h2 {
    margin-top: 0;
}

.underline a {
    text-decoration: underline;
}


@media (min-width: 1000px) {
    .event-spec-background {
        width: 950px;
        justify-content: space-evenly;
    } 

    .top-main-img::after {
        height: 1100px;
    }

    .spec-detail-align {
        display: inline-block;
        margin-top: 0;
    }

    .flex-event-info {
        display: flex;
    }

    .spec-info-header-marg-small  {
        margin-top: 0;
    }

    .event-spec-info {
        display: block;
        margin-left: 0;
    }

    .flexbox > * {
        flex: auto;
    }

    .event-spec-info .plan-trip-butt  {
        flex: 100%;
    }

    .plan-trip-butt {
        margin-top: 40px;
    }

    .event-spec-info-txt-space {
        margin-left: 0;
    }

    .large-info-txt-marg {
        margin-left: 10px;
    }

    .large-info-txt-marg h2 {
        text-align: left;
    }
}

