.exhib-space-main .top-main-img::after {
    height: 3700px;
}

@media (min-width: 1000px) {
    .exhib-space-main .top-main-img::after {
        height: 2700px;
    } 

    main .main-div .exhib-cta-align,
    main .main-div .txt-flex h2  {
        text-align: left;
    }

    .txt-flex,
    main .main-div .exhib-cta-align {
        margin-left: 10px;
    }
}

