.wave-background {
    top: 370px;
}

.top-main-img::after {
    height: 2300px;
    top: 540px;
}

.get-inv-nav {
    text-align: left;
    max-width: 100px;
}

.get-inv-spec-img img {
    margin-top: 20px;
}

@media (min-width: 1000px) {
    .top-main-img::after {
        height: 1500px;
    }

    .txt-img-flex {
        margin-left: 10px;
    }

    h2 {
        text-align: left;
    }
}