@media (min-width: 500px) {
    .events-list img,
    .explore-list img,
    .explore-more-list img,
    .more-events-list img {
        max-width: 80%;
    }
}

@media (min-width: 800px) {
    .search-input {
        width: 60%;
    }

    .search-bar-page .logo-div a {
        display: block;
    }

    footer .main-footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
/* Header */
    header .nav-bars-menu label {
        display: none;
    }

    .nav-remove {
        display: none;
    }

    header .logo-div {
        flex-basis: auto;
    }

    #menu-checkbox:checked ~ nav,
    header nav {
        position: relative;
        left: 0;
        top: 0;
        border: none;
        height: 60px;
    }

    header nav ul {
        margin: 10px 0 0 -10px;
    }

    .nav-color-background:hover {
        background-color: var(--main-background-color);
        padding: 6px 8px;
        border-radius: 50px;
    }

    .nav-color-background:hover > * {
        color: var(--font-color-on-color);
    }

    header nav ul li {
        display: inline-block;
        margin-right: 20px;
    }

    .icon-remove {
        display: none;
    }

    header .donate-header a {
        margin: 0 0 0 25px;
    }

    header .search-bars {
        display: flex;
        width: 100%;
    }

    header .search-bars .nav-bars-menu {
        flex-basis: 100%;
        text-align: center;
    }
    
/* Global main */
    main .main-div {
        max-width: 1200px;
        margin: 0 20px;
    }

    .top-main {
        margin-bottom: 50px;
    }

    .top-main-img {
        margin-top: 15px;
    }

    .top-main,
    .txt-img-flex {
        display: flex;
    }

    .top-main > *,
    .txt-img-flex > * {
        flex-basis: 50%;
    }

    .top-main p {
        max-width: 530px;
    }

    .wave-background {
        top: 250px;
    }

    .wave-background svg {
        height: 250px;
    }

    .top-main-img::after {
        top: 500px;
    }

    main .main-div .top-main,
    main .main-div .exhib-space {
        text-align: left;
    }

    .top-main p,
    .exhib-space p {
        margin: 0 0 30px 0;
    }

    .txt-img-flex {
        display: flex;
        flex-basis: 50%;
    }

    .flex-box {
        display: flex;
    }

    .flex-box > * {
        flex: 1;
    }

    .exhib-spec-img img {
        margin-top: 100px;
    }

    .explore-more-list img,
    .more-events-list img {
        max-width: 60%;
    }

    .flex-box .events-list a p,
    .flex-box .explore-list a p {
        margin: 5px 40px;
    }
    
    .large-view-right-content {
        margin-left: 50px;
    }

    header li,
    .footer-nav p,
    .hover-transform,
    .social-med-icons a i {
        transition: all ease-in-out 200ms;
    }

    header li:hover,
    .footer-nav p:hover,
    .hover-transform:hover,
    .social-med-icons a i:hover {
        transform: scale(1.1);
    }
}

@media (min-width: 1200px) {
    .top-main-img img {
        max-width: 100%;
    }

/* Footer */
    footer .large-scree-foot-flex {
        display: flex;
    }

    footer .footer-nav {
        display: block;
        width: 120px;
    }

    footer .footer-nav ul {
        margin: 0px;
    }

    footer .footer-nav ul li {
        padding: 5px;
    }

    footer .main-footer {
        flex-basis: 80%;
    }
}