@media (min-width: 500px) {
    /* Home */
    .events-list img,
    .explore-list img {
        max-width: 80%;
    }

    .exhib-space-img img {
        max-width: 90%;
    }

    .home-main .top-main-img::after {
        height: 1400px;
    }

    .home-main .explore-list::before {
        height: 1200px;
        top: 2560px;
    }

    .popular-circ {
        margin-left: 325px;
        margin-top: 190px;
        transform: rotateY(0deg) rotate(-45deg);
    }

}

@media (min-width: 800px) {
/* Footer */
    footer .main-footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
/* Header */
    header .nav-bars-menu label {
        display: none;
    }

    .home-remove {
        display: none;
    }

    header .logo-div {
        flex-basis: 100%;
    }

    header nav {
        position: absolute;
        left: 18%;
        top: 0;
        width: 750px;
        background-color: none;
        border: none;
        height: 60px;
    }

    header nav ul li {
        display: inline-block;
        margin-right: 10px;
    }
    
    header .donate-header {
        margin-top: 0;
    }
    
/* Global main */
    main .main-div {
        max-width: 1200px;
    }

    .top-main,
    .txt-img-flex {
        display: flex;
    }

    .top-main > *,
    .txt-img-flex > * {
        flex-basis: 50%;
    }

    .txt-img-flex {
        display: flex;
        flex-basis: 50%;
    }

    .exhib-spec-img img {
        margin-top: 100px;
    }
    
/* Home */
    .exhib-space-img img {
        max-width: 90%;
    }
}

@media (min-width: 1200px) {
    header nav {
        left: 25%;
    }

    .top-main-img img {
        max-width: 100%;
    }

/* Footer */
    footer .large-scree-foot-flex {
        display: flex;
    }

    footer .footer-nav {
        display: block;
    }

    footer .footer-nav ul {
        margin: 0px;
    }

    footer .footer-nav ul li {
        padding: 5px;
    }

    footer .main-footer {
        flex-basis: 80%;
    }
}