@media (min-width: 500px) {
    .events-list img,
    .explore-list img {
        max-width: 80%;
    }

    .exhib-space-img img {
        max-width: 90%;
    }

    .top-main-img::after {
        height: 1370px;
    }

    .explore-list::before {
        height: 1200px;
        top: 2520px;
    }
   
}

@media (min-width: 800px) {
/* Footer */
    footer .main-footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
/* Header */
    header .nav-bars-menu label {
        display: none;
    }

    .home-remove {
        display: none;
    }

    header .logo-div {
        flex-basis: 100%;
    }

    header nav {
        position: absolute;
        left: 18%;
        top: 0;
        width: 750px;
        background-color: none;
        border: none;
        height: 60px;
        text-align: left;
    }

    header nav ul li {
        display: inline-block;
        margin-right: 10px;
    }
    
    header .donate-header {
        margin-top: 0;
    }

}

@media (min-width: 1200px) {
    header nav {
        left: 25%;
    }
/* Footer */
    footer .large-scree-foot-flex {
        display: flex;
    }

    footer .footer-nav {
        display: block;
    }

    footer .footer-nav ul {
        margin: 0px;
    }

    footer .footer-nav ul li {
        padding: 5px;
    }

    footer .main-footer {
        flex-basis: 80%;
    }
}