:root {
    --cta-main-color: #02861a;
    --main-background-color: #3F3082;
    --footer-card-color: #312859;
    --font-color-on-white: black;
    --font-color-on-color: white;
    --header-nav-font: 'Josefin Sans', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
    --subject-bubb-colour: #E16B15;
}