.visit-main .top-main-img::after {
    height: 3200px;
}

.txt-align-left p {
    text-align: left;
}

.top-main-txt .top-main p {
    margin-bottom: 5px;
}

.top-main-txt {
    margin-bottom: none;
}

.goog-map img {
    max-width: 300px;
}

.div-line {
    border-top: solid 1px white;
}
