.visit-main .top-main-img::after {
    height: 3200px;
}

.txt-align-left p {
    text-align: left;
}

.top-main-txt .top-main p {
    margin-bottom: 5px;
}

.top-main-txt {
    margin-bottom: none;
}

.goog-map img {
    max-width: 300px;
}

.div-line {
    border-top: solid 1px white;
}

@media (min-width: 1000px) {
    .visit-main .main-div .visit-main-info {
        display: inline-block;
        max-width: 700px;
    }

    .main-div .top-main {
        margin-bottom: 100px;
    }

    .visit-img-marg {
        margin-top: 5px;
    }

    .txt-img-flex p {
        margin-top: 0px;
    }

    .visit-main-info p {
        max-width: 600px;
    }
}
